{
  "openapi": "3.1.0",
  "info": {
    "title": "polygraph",
    "version": "1.0.0",
    "description": "Independent A–F behavioral trust grades for MCP servers. Hosted grading is discontinued; published grades remain available via the lookup API. To grade a server yourself, run the open harness.",
    "contact": {
      "email": "hello@polygraph.so"
    }
  },
  "servers": [{ "url": "https://www.polygraph.so" }],
  "paths": {
    "/api/x402/grade-request": {
      "post": {
        "operationId": "requestGrade",
        "summary": "Hosted grading is discontinued",
        "description": "Returns 410 Gone. Operator-run hosted grading is no longer offered. Existing published grades remain available. To grade a server yourself, run the open harness: npx -y -p @polygraphso/litmus polygraphso-litmus litmus <server>.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["server_ref"],
                "properties": {
                  "server_ref": {
                    "type": "string",
                    "description": "Target to grade: npm ref (npm/@scope/name), github/owner/repo, pypi/name, or an https:// MCP URL.",
                    "examples": ["npm/@scope/server"]
                  },
                  "email": {
                    "type": "string",
                    "description": "Optional email notified when the grade publishes."
                  },
                  "agent_id": {
                    "type": "string",
                    "description": "Optional stable identifier for the requesting agent."
                  },
                  "source": {
                    "type": "string",
                    "description": "Optional client name for attribution."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "410": {
            "description": "Gone — hosted grading is discontinued. No payment is accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
