{
  "openapi": "3.1.0",
  "info": {
    "title": "polygraph",
    "version": "1.0.0",
    "description": "Independent A–F behavioral trust grades for MCP servers. The harness connects to a server the way an agent would, fingerprints its tool surface, and probes for tool-output injection, unexpected egress, planted-data leaks, and adversarial-input handling; grades publish as reproducible EAS attestations on Base. The x402 endpoint below is the agent rail for commissioning a grade: settlement is deferred — the $1 settles only when a grade lands, and a run the harness can't complete is never charged. The fee buys the run, never the grade.",
    "contact": {
      "email": "hello@polygraph.so"
    }
  },
  "servers": [{ "url": "https://www.polygraph.so" }],
  "paths": {
    "/api/x402/grade-request": {
      "post": {
        "operationId": "requestGrade",
        "summary": "Commission a behavioral grade for an MCP server ($1 USDC via x402 on Base)",
        "description": "Records a grade request and starts grading immediately; the 48h deadline is the outer promise, not the schedule. x402 v2 exact scheme (USDC on Base, EIP-3009). Settlement is deferred: the payment authorization is verified and held, and the $1 settles only when a grade (A–F) publishes. Poll the statusUrl from the response to follow the run.",
        "x-payment-info": {
          "protocols": ["x402"],
          "price": { "mode": "fixed", "currency": "USD", "amount": "1.00" }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["server_ref"],
                "properties": {
                  "server_ref": {
                    "type": "string",
                    "description": "Target to grade: npm ref (npm/@scope/name), github/owner/repo, pypi/name, or an https:// MCP URL.",
                    "examples": ["npm/@scope/server"]
                  },
                  "email": {
                    "type": "string",
                    "description": "Optional email notified when the grade publishes."
                  },
                  "agent_id": {
                    "type": "string",
                    "description": "Optional stable identifier for the requesting agent."
                  },
                  "source": {
                    "type": "string",
                    "description": "Optional client name for attribution."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment authorization verified; grading started. The $1 settles only when the grade lands.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "examples": ["grading"] },
                    "requestId": { "type": "string" },
                    "charged": { "type": "boolean" },
                    "statusUrl": { "type": "string" },
                    "deadlineAt": { "type": "string" }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — the x402 v2 challenge rides the Payment-Required header (accepts: $1.00 exact-scheme USDC on Base to the polygraph treasury, plus the bazaar discovery declaration)."
          }
        }
      }
    }
  }
}
